@model List<Product>

@{
    ViewData["Title"] = "Carousel";
    const int TAM_PAGE = 4;
    int numPages = (int) Math.Ceiling((double)Model.Count()/ TAM_PAGE);
}

<h3>Catálogo</h3>
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
   <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>-->

    <div class="carousel-inner" role="listbox">        
         @for(int page = 0; page < numPages; page++) 
         {
            <div class="item @(page == 0 ? "active" : "")">  
              <div class="row">
                @{
                    var productsPage = 
                        Model
                        .Skip(TAM_PAGE * page)
                        .Take(TAM_PAGE);
                }
                @foreach(var product in productsPage ){        
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <img src="~/images/products/large_@(product.Id).jpg"/>
                                </div> 
                                <div class="panel-footer">
                                    <div>@(product.Name)</div>
                                    <div>R$ @(product.Price)</div>
                                    
                                    <div class="text-center">
                                        <!--@Html.ActionLink("Add","shoppingbag","request")-->
                                        <!--<a asp-controller="request" asp-action="shoppingbag">Add</a>-->
                                        <a asp-action="shoppingbag">Add</a>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>          
        }
       
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>