@{
    ViewData["Title"] = "ShoppingBag";
}

<h3>My Shopping Bag</h3>

<div class="panel panel-default"> 
    <div class="panel-heading">
        <div class="row">            
            <div class="col-md-6">
                <span>Item</span>
            </div>
            <div class="col-md-2">
                <span>Unit Price</span>
            </div>
            <div class="col-md-2">
                <span>Quantity</span>
            </div>
            <div class="col-md-2">
                <span>SubTotal</span>
            </div>
        </div>    
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <img src="~/images/products/small_4.jpg"/>                    
            </div>
            <div class="col-md-3">
                <span>REST</span>
            </div>
            <div class="col-md-2">
                <span>R$ 70,00</span>
            </div>
            <div class="col-md-2">
                <span>3</span>
            </div>
            <div class="col-md-2">
                <span>R$ 210,00</span>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-md-10">
                <span>Total: 4 itens</span>
            </div>
            <div class="col-md-2">
                <span>R$ 200,00</span>
            </div>
        </div>
    </div>
</div>

