@model casa_do_codigo.Models.ViewModels.ShoppingCartViewModel

@{
    ViewData["Title"] = "Summary";
}


<h3>Order Summary</h3>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <h3>Request Number: 4512212</h3>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-3">
                <h3>Your Data</h3>
                <div>João da Silva</div>
                <div>(11) 1234-5678</div>
            </div>
            
            <div class="col-md-3">
                <span>joao@gmail.com</span>
            </div>
            <div class="col-md-6">
                <h3>Delivery Address</h3>
                <h3>Delivery Street</h3>
            </div>
            
        </div>
        <hr>

        <div class="row">
                <div class="col-md-10">
                    <h3>Item</h3>
                </div>
                <div class="col-md-2">
                    <h3>Quantity</h3>
                </div>
            </div>

        @foreach(var Item in Model.Itens){
            <div class="row">
                <div class="col-md-10">
                    <div>@(Item.Product.Name)</div> 
                </div>
                <div class="col-md-2">
                    <div class="pull-right">@(Item.Quantity)</div> 
                </div>
            </div>
        }
    </div>
</div>